/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-primary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-b from-orange-500 via-amber-500 to-cyan-400;
}

.htmx-indicator {
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  display: inline;
  opacity: 1;
}
.htmx-request.htmx-indicator {
  display: inline;
  opacity: 1;
}
