#price-monitoring-app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#price-monitoring-app > header {
  grid-area: header;
}

#price-monitoring-app > main {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
}

#price-monitoring-app > footer {
  grid-area: footer;
}
