---
import PriceMonitoringLayout from "../layouts/PriceMonitoringLayout.astro";
import SymbolTabs from "../components/crypto-monitoring/SymbolTabs.astro";

let availablePairs: { crypto: string; fiat: string }[] = [];
const BASE_URL = import.meta.env.PUBLIC_BASE_URL;
const WEBSOCKET_URL = import.meta.env.PUBLIC_WEBSOCKET_URL;

try {
  const response = await fetch(`${BASE_URL}/api/pairs_available`);

  if (response.ok) {
    const data: string[] = (await response.json()).data;

    availablePairs = data.map((symbol) => {
      return { crypto: symbol.split("-")[0], fiat: symbol.split("-")[1] };
    });
  }
} catch (error) {
  console.error(error);
}
---

<PriceMonitoringLayout>
  <!-- Websocket setup -->
  <div hx-ext="ws" ws-connect={`${WEBSOCKET_URL}/websocket/web`} class="h-full">
    <SymbolTabs pairs={availablePairs} />

    <div
      class="on-load-message"
      ws-send=""
      hx-trigger="load"
      hx-vals={`{"currency": { "base": "USD", "quote": "ARS" }}`}
    >
    </div>
  </div>
</PriceMonitoringLayout>
