---
export const prerender = false;

import PriceMonitoringLayout from "../layouts/PriceMonitoringLayout.astro";
import SymbolTabs from "../components/crypto-monitoring/SymbolTabs.astro";

let availablePairs: { crypto: string; fiat: string }[] = [];
const cryptoArbitrageAPIURL = import.meta.env.PUBLIC_CRYPTO_ARBITRAGE_API_URL

try {
  const response = await fetch(`${cryptoArbitrageAPIURL}/api/pairs_available`);

  if (response.ok) {
    const data: string[] = (await response.json()).data;

    availablePairs = data.map((symbol) => {
      return { crypto: symbol.split("-")[0], fiat: symbol.split("-")[1] };
    });
  }
} catch (error) {
  console.error(error);
}
---

<PriceMonitoringLayout>
  <!-- Websocket setup -->
  <div class="h-full">
    <SymbolTabs pairs={availablePairs} />

    <div
      class="on-load-message"
      ws-send=""
      hx-trigger="load"
      hx-vals={`{"currency": { "base": "USD", "quote": "ARS" }}`}
    >
    </div>
  </div>
</PriceMonitoringLayout>

<script>
  document.body.addEventListener("htmx:wsAfterMessage", ((
    event: CustomEvent,
  ) => {
    const appLoadingElem = document.querySelector(
      "#app-loading-indicator",
    ) as HTMLElement;
    appLoadingElem.style.display = "none";
  }) as EventListener);
</script>
