---
import PriceMonitoringLayout from "../layouts/PriceMonitoringLayout.astro";
import SymbolTabs from "../components/crypto-monitoring/react/SymbolTabs";

let availablePairs: { crypto: string; fiat: string }[] = [];

try {
  const response = await fetch("http://localhost:3000/api/pairs_available");

  if (response.ok) {
    const data: string[] = (await response.json()).data;

    availablePairs = data.map((symbol) => {
      return { crypto: symbol.split("-")[0], fiat: symbol.split("-")[1] };
    });
  }
} catch (error) {
  console.log(error);
}
---

<PriceMonitoringLayout>
  <div id="symbols-container">
    <SymbolTabs client:load pairs={availablePairs} />

    <div hx-ext="ws" ws-connect="ws://localhost:3000/websocket/web">
      {
        availablePairs.map((pair) => (
          <div
            class="on-load-message"
            ws-send
            hx-trigger="load"
            hx-vals={`{"prices": { "asset": "${pair.crypto}", "fiat": "${pair.fiat}" }}`}
          />
        ))
      }
    </div>
  </div>
</PriceMonitoringLayout>
