---
import { Icon } from "astro-icon";
import type { FooterLink } from "~/types";
import AppDescriptionText from "./app-description-text.astro";

const links: Array<FooterLink> = [
  {
    url: "https://github.com/CristianPereyraDev/",
    description: "Mi perfil de GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://www.linkedin.com/in/cristian-pereyra-dev/",
    description: "Mi perfil de Linkedin",
    icon: "mdi:linkedin",
  },
];
---

<div class="grid h-full grid-cols-3 items-center border-y px-2">
  <ul class="flex">
    <li>
      <a
        href="/native-app"
        target="_blank"
        class="flex items-center justify-center"
      >
        <span>CryptoARbitrage</span>
        <Icon class="h-full" name="mdi:adb" />
      </a>
    </li>
  </ul>
  <ul class="flex justify-center gap-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-auto items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</div>
