---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

import appScreenshot from "~/assets/app_screenshot.png";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Icon name="cryptoarbitrage-logo" class="h-24 text-white md:h-32" />
      <div
        class="gradient-text p-2 text-center font-extrabold tracking-tighter text-6xl"
      >
        Notificaciones de arbitrages crypto para Android
      </div>
    </h2>
    <div
      id="video-presentation"
      class="flex h-full w-full max-w-3xl self-start sm:w-4/12 sm:self-auto sm:justify-self-center"
    >
      <video
        width="auto"
        height="100%"
        autoplay
        muted
        playsinline
        loop
        poster={appScreenshot.src}
      >
        <source src="/videos/presentación.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
